@import '../../theme/all';

tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tabs {
  border: 1px solid $primary-border;
  display: inline-flex;
  border-radius: $radius;
  overflow: hidden;
  background-color: $primary-transparent;
  z-index: 100;
  text-transform: uppercase;
  font-family: $heading-fam;
  font-weight: 700 !important;
}

.tabs__tab {
  display: inline-flex;
  padding: 12px 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $primary;

  + .tabs__tab {
    border-left: 1px solid $primary-border;
  }

  &.active,
  &:hover {
    background-color: $primary-active;
  }
}
