.pad10 {
  padding: 10px;
}
.pad20 {
  padding: 20px;
}
.pad40 {
  padding: 40px;
}
.pad60 {
  padding: 60px;
}
.pad80 {
  padding: 80px;
}
.pad90 {
  padding: 90px;
}

.padtop10 {
  padding-top: 10px;
}
.padtop20 {
  padding-top: 20px;
}
.padtop40 {
  padding-top: 40px;
}
.padtop60 {
  padding-top: 60px;
}
.padtop80 {
  padding-top: 80px;
}
.padtop100 {
  padding-top: 100px;
}
.padtop120 {
  padding-top: 120px;
}
.padtop140 {
  padding-top: 140px;
}
.padtop160 {
  padding-top: 160px;
}
.padtop300 {
  padding-top: 300px;
}

.margintop10 {
  margin-top: 10px;
}
.margintop20 {
  margin-top: 20px;
}
.margintop40 {
  margin-top: 40px;
}
.margintop60 {
  margin-top: 60px;
}
.margintop80 {
  margin-top: 80px;
}
.margintop100 {
  margin-top: 100px;
}
.margintop120 {
  margin-top: 120px;
}
.margintop140 {
  margin-top: 140px;
}
.margintop160 {
  margin-top: 160px;
}
.margintop300 {
  margin-top: 300px;
}

.top10 {
  top: 10px;
}
.top20 {
  top: 20px;
}
.top40 {
  top: 40px;
}
.top60 {
  top: 60px;
}
.top80 {
  top: 80px;
}

.divider {
  margin: 40px 0;
  display: block;
  border-bottom: 1px solid $primary-border;
}
