// Families
$base-fam: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$heading-fam: 'Exo 2', Helvetica, Arial, sans-serif;
$button-fam: $base-fam;
$board-fam: 'GoodDog';

// Weights
$base-weight: 400;
$bold-weight: 600;
$heading-weight: 700;
$button-weight: 400;

// Sizes
$size-xs: 12px;
$size-s: 14px;
$size-m: 16px;
$size-l: 18px;

$base-size: $size-m;

// Line heights
$base-line-height: 1.4;
$heading-line-height: 1.4;
